.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    width: 25rem;
    display: inline-block;
    border-radius: 5px;
    margin-bottom: 10px !important;
    margin-right: 10px;

}

/* Add some padding inside the card container */
.raintainer {
    padding: 2px 16px;
}
#StartStop{
    border-style: hidden;
    /*background-color:white;*/
    align-content: center;
    text-align:center; 
    vertical-align:middle;
}
img {
    border-radius: 5px 5px 0 0;
    width: 250px;
    height: auto;
}
button.onOff{
	border-radius: 4px;
	border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}
div.status{
	/*border-radius: 4px;*/
	border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    /*cursor: pointer;*/
    width: 21.5rem;
    opacity: 0.4;
    transition: opacity 0.7s linear;
}
div.active{
    opacity: 1;
    transition: opacity 0.7s linear;
}
table.type {
    width: 100%;
    border: none;
}
th.type, td.type {
    border: none;
}
table {
    width: 100%;
}
th.title{
    color:white;
    text-align: center;
}
td.title{
    text-align: center; 
}
th, td {
    /*border: 1px solid #3D8BCD;*/
    text-align: left;
    /*padding: 8px;*/
}

.programs tr:nth-child(even) {
    background-color: #d8edff;
}
