<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Allenh">
    <title>{% block title %}{% endblock %} - Smart City Console</title>
    <link rel="stylesheet" href="{{ url_for('serve_static_resource', resource='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('serve_static_resource', resource='css/metisMenu.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('serve_static_resource', resource='css/sb-admin-2.css') }}">
    <link rel="stylesheet" href="{{ url_for('serve_static_resource', resource='css/font-awesome.min.css') }}">
    {% endblock %}
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header" style="float: none;">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- /.navbar-header -->
            <ul class="nav navbar-top-links navbar-right">
                <!-- /.dropdown -->
                Hello {{session['firstname']}}!
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                  <img src="{{ url_for('serve_static_resource', resource='static/images/mainLogo.png')}}" style="height: 10rem; padding-left: 6rem; width: 18rem;">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                            <!-- Constrain the elements using the sessions -->
			    <!-- If that user doesn't have that role assigned to them, the elements are locked and hidden. -->
                        </li>
                        <li>
                            <a href="index"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        {%if 'rainmachine' in session['roles']%}
                        <li>
                            <a href="rainmachine"><i class="fa fa-tint fa-fw"></i> Rainmachine</a>
                        </li>
                        {%endif%}
                        {%if 'purpleair' in session['roles']%}
                        <li>
                            <a href="purpleair"><i class="fa fa-cloud fa-fw"></i> Purpleair</a>
                        </li>
                        {%endif%}
                        {%if 'wago' in session['roles']%}
                        <li>
                            <a href="wago"><i class="fa fa-cube fa-fw"></i> Wago</a>
                        </li>
                        {%endif%}
                        {%if 'camera' in session['roles']%}
                        <li>
                            <a href="camera"><i class="fa fa-camera  fa-fw"></i> Surveillance</a>
                        </li>
                        {%endif%}
                        <li>
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Website Documentation<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="flot">Flot Charts</a>
                                </li>
                                <li>
                                    <a href="morris">Morris.js Charts</a>
                                </li>
                                <li>
                                    <a href="forms"><i class="fa fa-edit fa-fw"></i> Forms</a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-wrench fa-fw"></i> UI Elements<span class="fa arrow"></span></a>
                                    <ul class="nav nav-second-level">
                                        <li>
                                            <a href="panels-wells">Panels and Wells</a>
                                        </li>
                                        <li>
                                            <a href="buttons">Buttons</a>
                                        </li>
                                        <li>
                                            <a href="notifications">Notifications</a>
                                        </li>
                                        <li>
                                            <a href="typography">Typography</a>
                                        </li>
                                        <li>
                                            <a href="icons"> Icons</a>
                                        </li>
                                        <li>
                                            <a href="grid">Grid</a>
                                        </li>
                                    </ul>
                                    <!-- /.nav-second-level -->
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>
                                    <ul class="nav nav-second-level">
                                        <li>
                                            <a href="#">Second Level Item</a>
                                        </li>
                                        <li>
                                            <a href="#">Second Level Item</a>
                                        </li>
                                        <li>
                                            <a href="#">Third Level <span class="fa arrow"></span></a>
                                            <ul class="nav nav-third-level">
                                                <li>
                                                    <a href="#">Third Level Item</a>
                                                </li>
                                                <li>
                                                    <a href="#">Third Level Item</a>
                                                </li>
                                                <li>
                                                    <a href="#">Third Level Item</a>
                                                </li>
                                                <li>
                                                    <a href="#">Third Level Item</a>
                                                </li>
                                            </ul>
                                            <!-- /.nav-third-level -->
                                        </li>
                                    </ul>
                                    <!-- /.nav-second-level -->
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-files-o fa-fw"></i> Sample Pages<span class="fa arrow"></span></a>
                                    <ul class="nav nav-second-level">
                                        <li>
                                            <a href="blank">Blank Page</a>
                                        </li>
                                        <li>
                                            <a href="login">Login Page</a>
                                        </li>
                                    </ul>
                                    <!-- /.nav-second-level -->
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        <div id="page-wrapper">
            {% with messages = get_flashed_messages() %} {% if messages %}
            <div class="container">>
                <ul class="flashes">
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %} {% endwith %} {% block content %} {% endblock %}
        </div>
    </div>
    {% block js %}
    <script src="{{ url_for('serve_static_resource', resource='js/jquery.min.js')}}"></script>
    <script src="{{ url_for('serve_static_resource', resource='js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('serve_static_resource', resource='js/metisMenu.min.js')}}"></script>
    <script src="{{ url_for('serve_static_resource', resource='js/sb-admin-2.js')}}"></script>
    {% endblock %}
</body>
</html>
