{% extends "base_layout.html" %} {% block title %} Rainmachine {% endblock %}
{% block content %}
<div id="permissions">
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">

<h3> i'm a camera </h3>
        </div>
    </div>
</div>
{% if 'write' not in session['roles']  %}
<script>
window.onload= function(){
    document.getElementById('permissions'.addEventListener("click",handler,true);
    function handler(e){
        e.stopPropagation();
        e.preventDefault();
    }
}
</script>
{%endif%}
{% endblock %}
