{% extends "base_layout.html" %} {% block title %}Welcome{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('serve_static_resource', resource='css/timeline.css') }}">
    <link rel="stylesheet" href="{{ url_for('serve_static_resource', resource='css/morris.css') }}">
    <link rel="stylesheet" href="{{ url_for('serve_static_resource', resource='css/bebasneue.css')}}"
    <link rel="shortcut icon" href="{{ url_for('serve_static_resource', resource='static/images/favicon.ico') }}">
{% endblock %}
{% block content %}
<div class="row">
</div>
<h1 style="text-align: center; font-family: BebasNeueBold; font-size: 8rem; ">UTOPIA Fiber Smart City Console</h1>
<!-- /.row -->
<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-green">
            <div class="panel-heading">
                News
            </div>
            <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
            </div>
        </div>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <div class="panel panel-green">
            <div class="panel-heading">
                Notifications
            </div>
            <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
            </div>
        </div>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <div class="panel panel-green">
            <div class="panel-heading">
                Blog
            </div>
            <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue. </p>
            </div>
        </div>
    </div>
    <!-- /.col-lg-4 -->
</div>
<video id="capvideo" controls="" poster="{{ url_for('serve_static_resource', resource='static/images/blackground.jpg')}}">
<source src="{{ url_for('serve_static_resource', resource='static/videos/capvideo.mp4')}}" type="video/mp4">
</video>
<!-- <div class="row">
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Area Chart Example
                <div class="pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            Actions
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li><a href="#">Action</a>
                            </li>
                            <li><a href="#">Another action</a>
                            </li>
                            <li><a href="#">Something else here</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <div id="morris-area-chart"></div>
            </div>
        </div>
      </div>
    </div> -->

<!-- /.row -->{% endblock %}
{% block js %}
    {{ super() }}
    <script src="{{ url_for('serve_static_resource', resource='js/raphael-min.js')}}"></script>
    <script src="{{ url_for('serve_static_resource', resource='js/morris.min.js')}}"></script>
    <script src="{{ url_for('serve_static_resource', resource='js/morris-data.js')}}"></script>
{% endblock %}
