{% extends "base_layout.html" %} {% block title %} Rainmachine {% endblock %}
{% block content %}
<style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 1024px;
      }
     
    </style>

    <div id="map"></div>
    <div id="content">THIS IS WHERE CONTENT WILL GO</div>
	    <script>	    	
	      var map;
	      var markers = [];
	      function initMap() {
	        map = new google.maps.Map(document.getElementById('map'), {
	          center: {lat: 40.24533 , lng: -111.644807 },
	          zoom: 8
	        });
	        //resize map to webpage
	        google.maps.event.addDomListener(window, "resize", function() {
			   var center = map.getCenter();
			   google.maps.event.trigger(map, "resize");
			   map.setCenter(center); 
			});
			var getHTML = function ( url, callback ) {

				// Feature detection
				if ( !window.XMLHttpRequest ) return;

				// Create new request
				var xhr = new XMLHttpRequest();

				// Setup callback
				xhr.onload = function() {
					if ( callback && typeof( callback ) === 'function' ) {
						callback( this.responseXML );
					}
				}

				// Get the HTML
				xhr.open( 'GET', url );
				xhr.responseType = 'document';
				xhr.send();

			};
	       {% for x in devices %}
	       
	       	var marker{{loop.index}} = new google.maps.Marker({
          			position: {lat: {{x.lat}}, lng: {{x.lon}} },
          			map: map,
          			ip:"http://{{x.ip}}"});
	       	markers.push(marker{{loop.index}});
	       	google.maps.event.addListener(marker{{loop.index}}, 'click', function() {
				    // window.open(marker{{loop.index}}.ip);
				    document.getElementById('content').innerHTML = getHTML(marker{{loop.index}}.ip);
				    // document.getElementById('content').innerHTML = "Anna"
				});
            
            console.log(marker{{loop.index}}.ip);

	       {% endfor %}
	       
	      }
	    </script>
	    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0Ip3If5_-0Mt5TObrCGBanY3wLzr4zQQ&callback=initMap"
	    async defer></script>
{% endblock %}
