{% extends "base_layout.html" %} {% block title %} Rainmachine {% endblock %}
{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header"> Rainmachine </h1>

<!doctype html>
<title>Rainmachine</title>
<link rel="stylesheet" type="text/css" href="css/rainmachine.css">
<h3>Programs</h3>

{% for z in zones %}
<div class="card">
<div class="raintainer">
<h4><b>{{ z.name|e }}</b></h4> <!-- ZONES here -->
<p>description is gonna go here</p> <!-- Description-->
<div class="status" style="background-color: #3D8BCD;">{{ z.state|e }}</div><br>
<div class="status" style="background-color: #0964B2;">{{ z.area|e }}</div><br>
<button class="onOff" style="background-color: #8FC470;">start</button>
<button class="onOff" style="background-color: #DB524C;">stop</button>
</div>
</div>
{% endfor %}
{% endblock %}
