{% extends "base_layout.html" %} {% block title %} Rainmachine {% endblock %}
{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<img class="page-header" src="static/images/rainmachine.png">

<!doctype html>
<title>Rainmachine</title>
<link rel="stylesheet" type="text/css" href="css/rainmachine.css">

<!-- <h3>Weather</h3> -->
<a class="weatherwidget-io" href="https://forecast7.com/en/40d23n111d66/provo/?unit=us" data-label_1="PROVO UT" data-label_2="WEATHER" data-theme="original" >PROVO UT WEATHER</a>
<script>
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://weatherwidget.io/js/widget.min.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","weatherwidget-io-js");
</script>
{% if rainmachineInfo.success == 1 %}
<!-- <table>
  <tr style="background-color:#0964B2">
    <th>Date</th>
    <th>Current Temperature</th>
    <th>Max. Temperature</th>
    <th>Min. Temperature</th>
  </tr>
  <tr>
</table> -->
<h3>Zones</h3>
{% for z in rainmachineInfo.data.zone.zones %}
<div class="card" id="card-{{z.uid}}">
  <img class="center" src="images/{{z.uid|e}}.jpg" alt="grass">
	<div class="raintainer">

		<h4><b>{{ z.name|e }}</b></h4> <!-- ZONE name here -->

<table class="type">
  <col width="75">
  <col width="80">
  <tr>
    <!-- Soil Type about zone -->
    <th class="type">Soil:</th>
        {% for p in rainmachineInfo.data.properties.zones %}{% if z.uid == p.uid %}<td class="type">{% if p.soil == 1 %} Clay Loam {% elif p.soil == 2  %} Silty Clay {% elif p.soil == 3 %} Clay {% elif p.soil == 4 %} Loam {% elif p.soil == 5 %} Sandy Loam {% elif p.soil == 6 %} Loamy Sand {% elif p.soil == 7 %} Sand {% elif p.soil == 8 %} Sandy Clay {% elif p.soil == 9 %} Silt Loam {% elif p.soil == 10 %} Silt {% else %} Not specified {% endif %}</td>
  </tr>
  <!-- Vegetation in formation about the zone. API returns a number that is assosiated with a predetermained type -->
  <tr>
    <th class="type">Vegetation:</th>
    <td class="type">{% if z.type == 2 %} Grass {% elif z.type == 3  %} Fruit Trees {% elif z.type == 4 %} Flowers {% elif z.type == 5 %} Vegetables {% elif z.type == 6 %} Citrus {% else %} Bushes{% endif %}</td>
  </tr>
  <!-- Sun exposure information about zone -->
  <tr>
    <th class="type">Sun Exposure:</th>
    <td class="type">{% if p.sun == 1 %} Full Sun  {% elif p.sun == 2 %} Partial Shade {% elif p.sun == 3 %} Full Shade {% else %} Not specified {% endif %}</td>
  </tr>
</table>
  {% endif %}
  {% endfor %}
  <!--  		{# if z.state == 0 #}<div class="grayed">-->
        <div class="status" style="background-color: #0964B2;">Inactive</div><br>
        <!--{# else }<div>
        <div class="status" style="background-color: #0964B2;">Time Left: {{ (z.remaining / 60)|int }} min. {{ z.remaining % 60}} sec.</div><br>{ endif #}
            </div>-->
      <!-- Button to start watering the zone for 5 mins -->
      <button class="onOff" id="start" value="{{ z.uid }}" style="background-color: #8FC470;" onclick="zoneStart({{z.uid}})">start</button>
      <!-- Button to stop watering zone -->
      <button class="onOff" id="stop" value="{{ z.uid }}" style="background-color: #DB524C;" onclick="zoneStop({{z.uid}})">stop</button>
    </div>
</div>
{% endfor %}
<br>
<br>
<h3>Programs</h3>
<table class="programs">
  <tr style="background-color:#0964B2">
    <th class="title">Name</th>
    <th class="title">Status</th>
    <th class="title">Start Time</th>
    <th class="title">Zones in Program</th>
    <th class="title">Start/Stop</th>
  </tr>
{% for p in rainmachineInfo.data.program.programs %}
  <tr id="program-{{p.uid}}">
    <!-- Prints name of Program -->
    <td class="title">{{ p.name|e }}</td>
    <!-- status of the program, running, not running, or broken -->
    <td class="title">{% if p.status == 0 %} Not Running {%elif p.status == 1%} Running {% else %} Queued{%endif%}</td>
    <!-- The scheduled time for the Program to start -->
    <td class="title">{{ p.startTime|e }}</td>
    <!-- Whether or not the program is currently running -->
    <td class="title">{% for n in p.wateringTimes %} {%if n.active == true%} {{n.name|e}} <div>{% else %} {% endif %}{% endfor %}</td>
      <!-- the buttons that trigger the Start and Stop POST requests, sends id of program to post function -->
    <td id="StartStop"> <button class="onOff" id="start" value="{{ p.uid }}" style="background-color: #8FC470;" onclick="programStart({{p.uid}})">start</button>
    <button class="onOff" id="stop" value="{{ p.uid }}" style="background-color: #DB524C;" onclick="programStop({{p.uid}})">stop</button></td>
  </tr>
{% endfor %}
</table>
{% else %}
<span class="error">{{ rainmachineInfo.data }}</span>
{% endif %}
<br>
<br>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.slim.js"></script>
<script src="{{ url_for('serve_static_resource', resource='js/rainmachine.js') }}"></script>
{% endblock %}
