{% extends "base_layout.html" %} {% block title %} Rainmachine {% endblock %}
{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<img class="page-header" src="static/images/rainmachine.png">

<!doctype html>
<title>Rainmachine</title>
<link rel="stylesheet" type="text/css" href="css/rainmachine.css">

<!-- <h3>Weather</h3> -->
<a class="weatherwidget-io" href="https://forecast7.com/en/40d23n111d66/provo/?unit=us" data-label_1="PROVO UT" data-label_2="WEATHER" data-theme="original" >PROVO UT WEATHER</a>
<script>
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://weatherwidget.io/js/widget.min.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","weatherwidget-io-js");
</script>
<!-- <div style="width: 850px;"><iframe style="display: block;" src="https://cdnres.willyweather.com/widget/loadView.html?id=80571" width="850" height="92" frameborder="0" scrolling="no"></iframe><a style="text-indent: -9999em;float: right;width: 20px;margin: -92px 0 0 0;height: 92px;z-index: 1;position: relative" href="https://www.willyweather.com/ut/utah-county/provo.html" rel="nofollow">https://www.willyweather.com/ut/utah-county/provo.html</a></div> -->
<!-- <table>
  <tr style="background-color:#0964B2">
    <th>Date</th>
    <th>Current Temperature</th>
    <th>Max. Temperature</th>
    <th>Min. Temperature</th>
  </tr>
  <tr>
  {% for w in rainmachineInfo.mixer.mixerData %}
  {% for d in range(1, w.dailyValues|length) %}
  {% if w.dailyValues|length %}
    <td>{{ w.dailyValues[d].day|e}}</td> -->
    <!-- <td>{{ now }}</td> -->
<!--     <td>{{ w.dailyValues[d].temperature *(9/5)+32 }} &#8457; </td>
    <td>{{ w.dailyValues[d].maxTemp *(9/5)+32}} &#8457;</td>
    <td>{{ w.dailyValues[d].minTemp *(9/5)+32}} &#8457;</td>
  </tr>
  {% endif %}
  {% endfor %}
  {% endfor %}
</table> -->
<h3>Zones</h3>
<!-- rainmachineInfo.programs.programs -->
<!-- rainmachineInfo.zones.zones -->
{% for z in rainmachineInfo.zone.zones %}
<div class="card">
  <img class="center" src="images/{{z.uid|e}}.jpg" alt="grass">
	<div class="raintainer">

		<h4><b>{{ z.name|e }}</b></h4> <!-- ZONES here -->

		<p>Vegetation Type: {% if z.type == 2 %} Grass {% elif z.type == 3  %} Fruit Trees {% elif z.type == 4 %} Flowers {% elif z.type == 5 %} Vegetables {% elif z.type == 6 %} Citrus {% else %} Bushes{% endif %}</p>

		{% for p in rainmachineInfo.properties.zones %}
    {% if z.uid == p.uid %}
    <p>Soil Type:  {% if p.soil == 1 %} Clay Loam {% elif p.soil == 2  %} Silty Clay {% elif p.soil == 3 %} Clay {% elif p.soil == 4 %} Loam {% elif p.soil == 5 %} Sandy Loam {% elif p.soil == 6 %} Loamy Sand {% elif p.soil == 7 %} Sand {% elif p.soil == 8 %} Sandy Clay {% elif p.soil == 9 %} Silt Loam {% elif p.soil == 10 %} Silt {% else %} Not specified {% endif %}  </p>
    <p>Sun Exposure: {% if p.sun == 1 %} Full Sun  {% elif p.sun == 2 %} Partial Shade {% elif p.sun == 3 %} Full Shade {% else %} Not specified {% endif %}</p>
    {% endif %}
    {% endfor %}

		<div class="status" style="background-color: #3D8BCD;">Running: {% if z.state == 0 %} No {% else %} Yes{% endif %}</div><br>

		<div class="status" style="background-color: #0964B2;">Time Left in Cycle: {{ z.remaining|e }} sec.</div><br>

    <button class="onOff" id="start" value="{{ z.uid }}" style="background-color: #8FC470;" onclick="start({{z.uid}})">start</button>

    <button class="onOff" id="stop" value="{{ z.uid }}" style="background-color: #DB524C;" onclick="stop({{z.uid}})">stop</button>
</div>
</div>
{% endfor %}
<br>
<br>
<h3>Programs</h3>
<table>
  <tr style="background-color:#0964B2">
    <th>Name</th>
    <th>Status</th>
    <th>Start Time</th>
    <th>Zones in Program</th>
  </tr>
{% for p in rainmachineInfo.program.programs %}
  <tr>
    <td>{{ p.name|e }}</td>
    <td>{% if p.status == 0 %} Not Running {%elif p.status == 1%} Running {% else %} Broken{%endif%}</td>
    <td>{{ p.startTime|e }}</td>
    <td>{% for n in p.wateringTimes %} {%if n.active == true%} {{n.name|e}} <div>{% else %} {% endif %}{% endfor %}</td>
  </tr>
{% endfor %}
</table>
<br>
<br>
<script type="text/javascript" src="../js/rainmachine.js"></script>
{% endblock %}
