{% extends "base_layout.html" %} {% block title %} Wago {% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"> Wago </h1>

<!doctype html>
<title>Wago</title>
<link rel="stylesheet" type="text/css" href="css/wago.css">
<h3>City Lights</h3>
<div id="permissions">
<div class="status"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.slim.js"></script>
<script src="{{ url_for('serve_static_resource', resource='js/wago.js') }}"></script>
</div>
{%if 'write' not in session['roles']%}
<script>
window.onload = function(){
    document.getElementById('permissions').addEventListener("click",handler,true);
    function handler(e){
        e.stopPropagation();
        e.preventDefault();
    }
};
</script>
{%endif%}
{% endblock %}
